<!DOCTYPE html>
<html>
  <head>
    <meta content='html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You got the job lol, <%= @contact["first_name"]%> <%= @contact["last_name"]%></h1>
    <p>
      email : <%= @contact["email"]%>,
<br>
    </p>
    <p>
      message : <%= @contact["message"]%>
    </p>
    <p>Lets hope they said something nice lol</p>
  </body>
</html>
