    <div style="height: 650px" class="bg-secondary p-3">
    <div class="bg-black text-white p-3 rounded">


	<h1>My name is Elias Miranda</h1><br/>

    <br/>
    <div style="text-indent: 25px; font-family: Times New Roman, Times, serif;"><h2>
        In my portfolio section you will find links to the applications I created. They are deployed on heroku. I created my projects using rails and react as my frontend. My porfolio and the friends app are exclusively made with Ruby on Rails. My github projects include the three applications I developed and you will also find many of the coding challenges in Ruby that I have worked on there too. The most difficult challenges and projects are listed first. I also know how to work with SQL. The database used on my projects was Postgresql. I am currently a student at Roosevelt University getting my B.S. in Computer Science.
     <br/>
     <br/>

    	</h2></div></div>
    </div>
<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>