<div style="height: 1700px;   background-image: linear-gradient( #C0C0C0 , #000000);">
    <div class="w-100 slide-bottom" style="position: relative;">
                <%= image_tag("slider.jpg", width: "100%", class: "opacity-75")%>
        <div class=" text-block top-50" style="position: absolute; transform: translateX(20%)">
             <h1 id="hello" class="text-black text-slide-right" style="font-size: 2.5vw;font-family: Times New Roman, Times, serif;">HI, MY NAME IS ELIAS MIRANDA & I AM A FULL-STACK ENGINEER
             </h1><br/>
             <center>
                <%= button_tag type: 'button', onclick: "myFunction()", id: "click",class: "bounce" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">

                  <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
                <% end %>
            </center>
         </div>
    </div>
<!-- transition -->
    <div class="custom-shape-divider-top-1674841426">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 598.97 114.72 1200 0z" class="shape-fill"></path>
        </svg>  
    </div>    
<!-- portfolio guide section -->
    <div class="text-secondary" style="padding-bottom: 100px;">
        <div class="container rounded" style="margin-top: 50px;background-color: #000000;">
<h1 id="head" class="text-center text-white" style="margin-top: 80px;font-size: 3.2vw;font-family: Times New Roman, Times, serif; padding-top: 15px;">PORTFOLIO GUIDE</h1>

                <p class="mbr-text align-left mbr-fonts-style mb-0 display-5 text-block p-4 shadow pr-5 pl-5"><strong><div id="body" style="text-indent: 25px; font-family: Times New Roman, Times, serif; padding-bottom: 10px;">
                    <h2>
        In my portfolio section you will find links to the applications I created. They are deployed on heroku. I created my applications with rails and react or with rails exclusively. My porfolio and the friends app are  made with Ruby on Rails. The challenges section displays my technical proficiency with problem solving and my understanding of ruby. The most difficult challenges and projects are listed first. I also know how to work with SQL. The database used on all my projects was Postgresql.
     <br/>

     <br/>
        <ul>
           <li> The challenges section only contains coding challenges to view the code for the applications click the corresponding link next to the project in my portfolio
           </li>
                      <br>

           <li>
               The challenges also include unit testing with rspec in some projects
           </li>
                      <br>
        <li><h1>My portfolio has a Rails API with ActionMailer setup that communicates with Postmark's email API so feel free to contact me with the integrated form as well</h1>

       </li>
        </ul>

        </h2></div></strong><br></p>
        </div>
                 <div id="about" style="background: transparent; height: 50px;"> </div>
    </div>
    </div>
<script>


function myFunction() {
 document.getElementById("about").scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
let x = document.getElementById("head");
let y = document.getElementById("body");

  x.classList.add("text-slow-right");
y.classList.add("text-slow-left");
}
</script>


