<div style="height: 1500px" class="bg-black bg-gradient">

    
    <div class="containe text-black" style="padding-bottom: 150px;  background-image: linear-gradient(to right, #212F3D , #2E86C1);">
        <center>
        <div class="row" style="padding-top: 100px">
           
            <div class="col-12 col-md-12 col-lg-5 title-col">
                <%= image_tag("computer.jpg", width: "90%")%>
            </div>

            <div class="col-12 col-md-12 text-col col-lg-6 shadow rounded">
                <p class="mbr-text align-left mbr-fonts-style mb-0 display-5"><strong><div style="text-indent: 25px; font-family: Times New Roman, Times, serif;"><h2>
        In my portfolio section you will find links to the applications I created. They are deployed on heroku. I created my applications with rails and react or with rails exclusively. My porfolio and the friends app are  made with Ruby on Rails. The challenges section displays my technical proficiency with problem solving and my understanding of ruby. The most difficult challenges and projects are listed first. I also know how to work with SQL. The database used on all my projects was Postgresql.
     <br/>
     <br/>
        <ul>
           <li> The challenges section only contains coding challenges to view the code for the applications click the corresponding link next to the project in my portfolio
           </li>
                      <br>

           <li>
               The challenges also include unit testing with rspec in some projects
           </li>
                      <br>
        <li><h1>My portfolio has a Rails API with ActionMailer setup that communicates with Postmark's email API so feel free to contact me with the integrated form as well</h1>
       </li>
        </ul>

        </h2></div></strong><br></p>
            </div>
        </div>
    </div>
            </center>

<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Function used to shrink nav bar removing paddings and adding black background -->
    <script>
        $(window).scroll(function() {
            if ($(document).scrollTop() > 50) {
                $('.nav').addClass('affix');
                console.log("OK");
            } else {
                $('.nav').removeClass('affix');
            }
        });
    </script>