.porfolio-grid {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: repeat(3, 1fr);
  justify-items: center;

}

.card:hover .card-title{
   display: none;
}

.card{
  background-color: #F8F8FF;
}
.card-body:hover .notebook{
  background: none;
}


.card-text{
   visibility: hidden;
}
.card:hover .card-text{
   visibility: visible;

}

.btn-outline-primary{
   visibility: hidden;
}
.card:hover .btn-outline-primary{
   visibility: visible;
   background-color: #000000;
}


.slide-left {
  animation: 3s slide-left;
}
@keyframes slide-left {
   0% {
      opacity: 0;
      transform: translateX(-20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }

}
.slide-right {
  animation: 3s slide-right;
}
@keyframes slide-right {

   0% {
      opacity: 0;
      transform: translateX(20px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
 }

 .slide-bottom {
  animation: 3s slide-bottom;
}
@keyframes slide-bottom {

   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
 }

 /*
 * Keyframes
 */

.test-slide {
  animation-duration: 3s;
  animation-name: testSlide;
}

@keyframes testSlide {
  from {
   opacity: 0;
    width: 50%;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
.text-slide-right {
  animation: 1s text-slide-right 2s forwards;
   opacity: 0;
    transform:translateX(100px);
}

@keyframes text-slide-right {
  to {
    transform:translateX(0);
    opacity: 1;
  }
}
.text-slow-right {
  animation: 1s text-slow-right 1s forwards;
   opacity: 0;
    transform:translateX(100px);
}

@keyframes text-slow-right {
  to {
    transform:translateX(0);
    opacity: 1;
  }
}
.text-slow-left {
  animation: 1s text-slow-left 2s forwards;
   opacity: 0;
    transform:translateX(-100px);
}

@keyframes text-slow-left {
  to {
    transform:translateX(0);
    opacity: 1;
  }
}

#click{
   background-color: #212529; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;

}


.arrow-circle-down {
   display: block;
   width: 40px;
   height: 40px;
   margin: 16px 0;
   /*fill: #fff;*/
}

.bounce {
   -webkit-animation: bounce 2s;
           animation: bounce 2s;
   -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
}



@keyframes bounce {
   0%,
   25%,
   50%,
   75%,
   100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
   }
   40% {
      -webkit-transform: translateY(-20px);
              transform: translateY(-20px);
   }
   60% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
   }
}

.info:hover .images {
   filter: blur(5px);

}


.info:hover .text {
   display: block;
   position: absolute;
   transform: translateY(-5ch);
   background-color: black;


}


body {
   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
   background-size: 400% 400%;
   animation: gradient 15s ease infinite;
   height: 100vh;
}

@keyframes gradient {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}












